:root {
	--StSL_font: arial;
	--StSL_title_size: 45px;
	--StSL_title_color: #ffaaaa;
	--StSL_song_size: 45px;
	--StSL_song_color: #aaaaaa;
	--StSL_line_height: 1.1;
}

body {
	background: none;
	margin: 0;
	font-family: var(--StSL_font);
	overflow: none;
}

#streamersonglist-container {
	width: auto;
	background: none;
}
.screenTitle {
	font-size: var(--StSL_title_size);
	width: auto;
	white-space: nowrap;
	text-align: center;
	color: var(--StSL_song_color);
	line-height: var(--StSL_line_height);
}

.songTitle {
	font-size: var(--StSL_song_size);
	width: auto;
	white-space: nowrap;
	text-align: center;
	color: var(--StSL_title_color);
	line-height: var(--StSL_line_height);
}
